@import "../partials/vars";

@mixin burger {
    display: block;
        position: relative;
        padding: 0;
        width: 50px;
        height: 50px;
        border: none;
        background: transparent;
        &-bar{
            display: block;
            width: 50px;
            height: 4px;
            background-color: $skyblue;
            border-radius: 3px;
        }
        &-bar::before, &-bar::after{
            content:"";
            width: 50px;
            height: 4px;
            position: absolute;
            background-color: $skyblue;
            border-radius: 3px;
            left: 0;
        }
        &-bar::before{
            transform: translateY(-12px);
        }
        &-bar::after{
            transform: translateY(12px);
        }
}