@mixin footer{
    &-nav{
        visibility: hidden;
    }
    &-contactform{
        display: flex;
        flex-direction: column;
        &-title{
            font-size: 1.5rem;
        }
        &-input{
            border-radius: $border-radius;
            &-textarea{
                font-family: Roboto;
                height: 15vh;
                max-width: 100%;
            }
        }
        &-submit{
            background-color: $main-color;
            color: white;
            border: 2px solid;
            border-radius: $border-radius;
            height: 2rem;
            width: 5rem;
        }
    }
}