@import "../partials/vars";

@mixin header {
    position: relative;
    top: 0;
    padding: 0.5rem;
    color: $skyblue;
    background-color: $main-header;
    &-nav{
        display: flex;
        justify-content: space-between;
        &-brand{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-logo{
                display: block;
                height: 50px;
            }
            &-name{
                display: block;
                height: 25px;
            }
        }
        &-links{
            display: flex;
            &-link{
                align-self: center;
                margin: 1rem;
                a{
                    text-decoration: none;
                    color: $skyblue;
                }
            }
        }
    }
}