@mixin home {
    padding: 0.75rem;
    margin: 0.75rem;
    &-titleblock{
        &-intro{
            height: 2rem;
            max-width: 10rem;
            line-height: normal;
            padding: 00.5rem;
        };
        &-title{
            font-weight:bold;
            font-size: 2rem ;
            padding: 00.5rem;
        }
    }
    &-services{
        display: flex;
        flex-direction: column;
        
        padding: 1rem;
        
        &-title{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        &-service{
            background-color: $main-header;
            margin-bottom: 1rem;
            padding: 0.75rem;
            &-title{
                font-size: larger;
                margin-bottom: 1rem;
            }
            &-content{
                margin-bottom: 0.75rem;
            }
        }
    }
}