@import "./partials/reset";
@import "./partials/vars";
@import "./mixins/footer";
@import "./mixins/header";

@font-face {
    font-family: Roboto;
    src: url(../assets/Fonts/Roboto/Roboto-Regular.ttf);
}

.main{
    font-family: Roboto;
    background-color: $main-color;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0.5rem 1rem;
    &-header{
        @include header;
    };
    &-home{
        margin: 1rem;
        &-intro{
            font-size:large;
        };
        &-title{
            font-weight:bold;
            font-size: 2rem ;
        }
    };
   &-footer{
     @include footer;
   }

}





.subtitle{
    margin: 1rem;
    font-size: 1.5rem;
}