@import "./partials/reset";
@import "./partials/vars";
@import "./mixins/footer";
@import "./mixins/header";
@import "./mixins/home";

@font-face {
    font-family: Roboto;
    src: url(../assets/Fonts/Roboto/Roboto-Regular.ttf);
}

.main{
    height: 100vh;
    font-family: Roboto;
    background-color: $main-back;
    color: white;
    display: flex;
    flex-direction: column;
    &-header{
        @include header;
    };
    &-home{
        @include home;
    };
    &-footer{
        @include footer;
    };
}





.subtitle{
    font-size: 1.5rem;
}