@import "./partials/reset";
@import "./partials/vars";
@import "./mixins/header";
@import "./mixins/main";
@import "./mixins/footer";

@font-face {
    font-family: Roboto;
    src: url(../assets/Fonts/Roboto/Roboto-Regular.ttf);
};

html{
    font-family: Roboto;
    text-align: justify;
}

.main-back{
    background-color: $main-back;
}

.header{
    @include header
}

.main{
    @include main
}

.footer{
    @include footer
}