/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/Fonts/Roboto/Roboto-Regular.ttf);
}
.main {
  min-height: 100%;
  min-width: 100%;
  font-family: Roboto;
  background-color: #00003B;
  color: white;
  display: flex;
  flex-direction: column;
}
.main-header {
  position: relative;
  top: 0;
  padding: 1rem;
}
.main-header-nav {
  display: flex;
  justify-content: space-between;
}
.main-header-nav-brand {
  display: flex;
  height: 50px;
}
.main-header-nav-brand-logo {
  display: block;
}
.main-header-nav-brand-name {
  display: block;
  height: 20px;
  position: relative;
  top: 15px;
}
.main-header-nav-links {
  display: flex;
  flex-direction: column;
  width: 0;
  height: calc(100vh - 50px);
  position: absolute;
  top: 82px;
  right: 0;
  background-color: black;
}
.main-header-nav-links-link {
  padding: 0 10px;
}
.main-header-nav-links-link > a {
  text-decoration: none;
  color: white;
  height: 1px;
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
}
.main-header-nav-show .main-header-nav-links {
  width: 100%;
}
.main-header-nav-burger {
  display: block;
  position: relative;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
}
.main-header-nav-burger-bar {
  display: block;
  width: 50px;
  height: 4px;
  background-color: aqua;
  border-radius: 3px;
}
.main-header-nav-burger-bar::before, .main-header-nav-burger-bar::after {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  background-color: aqua;
  border-radius: 3px;
  left: 0;
}
.main-header-nav-burger-bar::before {
  transform: translateY(-12px);
}
.main-header-nav-burger-bar::after {
  transform: translateY(12px);
}
.main-home {
  padding: 0.75rem;
  margin: 0.75rem;
}
.main-home-titleblock-intro {
  height: 2rem;
  max-width: 10rem;
  line-height: normal;
  padding: 0.5rem;
}
.main-home-titleblock-title {
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem;
}
.main-home-services {
  display: flex;
  flex-direction: column;
}
.main-home-services-service-title {
  font-size: larger;
}
.main-footer-nav {
  visibility: hidden;
}
.main-footer-contactform {
  display: flex;
  flex-direction: column;
}
.main-footer-contactform-title {
  font-size: 1.5rem;
}
.main-footer-contactform-input {
  border-radius: 10px;
}
.main-footer-contactform-input-textarea {
  font-family: Roboto;
  height: 15vh;
  max-width: 100%;
}
.main-footer-contactform-submit {
  background-color: #00003B;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  height: 2rem;
  width: 5rem;
}

.subtitle {
  font-size: 1.5rem;
}/*# sourceMappingURL=styles.css.map */